.vscode/**
.vscode-test/**
src/**
!src/presentation/views/*.html
!src/presentation/views/*.css
!src/presentation/views/*.js
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
